<!DOCTYPE html>
<html lang="zh-tw">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>GitLab ChatBot</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<h1>註冊</h1>
					<br>
					{% if success %}
					<div class="alert alert-success" role="alert">
						成功
					</div>
					<div class="well well-sm">
						請記下專案專屬的 token，這將用於 GitLab 的 Web Hook 與 Telegram 聊天室的綁定。
						<br>
						<br>
						你的 token：<code>{{token}}</code>
						<br>
						<br>
						GitLab 的 Webhook 網址為：<code>{{base_url}}/gitlab/</code>
						<br>
						<br>
						<a target="_blank" href="https://telegram.me/{{bot_username}}" class="btn btn-default">Telegram 機器人</a>
					</div>
					<a href="{{url_for('index')}}" class="btn btn-primary">返回首頁</a>
					{% else %}
					<div class="alert alert-danget" role="alert">
					失敗，請檢查網址是否爲 GitLab 的專案。
					</div>
					<a href="{{url_for('index')}}" class="btn btn-primary">返回首頁</a>
					{% endif %}
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>